body {
  font-family: "Open-sans", sans-serif;
  font-size: 17px;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #f7f4f4;
}

/*HEADER Style*/
.first-text {
  color: #495057;
  padding: 5px;
  font-size: 20px;
}
#main-header .fa {
  font-size: 17px;
}
.nav-bar li {
  display: inline;
  list-style: none;
  padding-right: 20px;
  color: gray;
}
.nav-bar a {
  margin-top: 20px;
  list-style: none;
  text-decoration: none;
  color: #888;
  text-transform: uppercase;
}
.nav-bar li.current a,
.nav-bar a:hover {
  color: gray;
}
.img {
  width: 100%;
}
.container {
  margin: auto;
}

/*show case */
#showcase-1 {
  margin-bottom: 30px;
}
#showcase-1 .row {
  height: 100px;
}
.search-input {
  width: 50%;
  height: 20px;
  align-items: center;
  padding: 10px;
}
.search-link {
  background: white;
  width: 40px;
  height: 40px;
  align-items: center;
}
#showcase-2 .row {
  height: 400px;
}
#showcase-2 {
  background-image: url("../img/background.svg");
}
#showcase-2 .title {
  font-size: 30px;
  color: #495057;
}
#showcase-2 .text-first {
  font-size: 15px;
  color: #495057;
}
#showcase-2 .btn {
  background-color: #1f3b52;
  color: white;
  font-weight: bold;
  width: 30%;
  height: 40px;
  border: 2px solid white;
  border-radius: 25px;
}
#showcase-2 .text-second {
  color: #495057;
}
#showcase-2 .checked {
  color: orange;
}

/*features*/
.title-features {
  font-size: 28px;

  text-align: center;
  padding: 10px;
  color: white;
}
.title-features-main {
  font-size: 28px;

  text-align: center;
  padding: 10px;
  color: black;
}
#features {
  height: 300px;
}
/*features "how it works" */
.box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: 320px;
  background-color: white;
  width: 10px;
  padding: 5px;
  margin: 20px;
  overflow-y: visible;
}
.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
#features .fa {
  font-size: 60px;
  color: #56a79a;
  margin-bottom: 5px;
}
/*features green area*/
.title-features-green {
  margin-top: 150px;
  color: white;
  font-size: 28px;
  text-align: center;
  padding: 10px;
}
.sub-title-features {
  color: white;
}
.img-features {
  height: 150px;
  width: 300px;
}

.btn-features {
  width: 40%;
  height: 40px;

  text-align: center;
  font-size: 15px;

  background-color: #1f3b52;
  color: white;
  font-weight: bold;
}
#features-green {
  background-color: green;
  height: 480px;
}
#features-orange {
  background-color: #d9480f;
  height: 380px;
}
#features-blue {
  background-color: #0b7285;
  height: 380px;
}
#features-nile {
  background-color: #495057;
  height: 420px;
}

#features-nile .container {
  padding-top: 20px;
}
.links-features a {
  margin-top: 20px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}
/* MEDIA QUERIES */
@media (max-width: 800px) {
  #features {
    height: auto;
  }
  #features-green {
    height: auto;
  }
  #features-orange {
    height: auto;
  }
  #features-blue {
    height: auto;
  }
  #features-nile {
    height: auto;
  }
  .btn-features {
    height: auto;
  }
}
